Dockerfile
Dockerfile.*
.*.swp

.git
.github
.gitignore
.gitmodules
.dockerfile
bin
target
cli
addin-vesting/cli/target
addin-vesting/program/tests
governance-test-scripts/target
maintenance-test-scripts/target
solana-program-library/target
